@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

a.noDecoration {
  width: fit-content;
  height: fit-content;
  text-decoration: none;
} 
.backgroundContainer {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  height: fit-content;
  text-decoration: none;
}
p.errorMsg {
    font-family: 'Josefin Sans';
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    max-width: 70%;
    text-align: center;
 }
 p.gameDescription {
    font-family: 'Josefin Sans';
    font-size: 0.85rem;
    overflow: hidden;
    max-height: 90%;
    color: rgb(255, 255, 255);
 }
 p.pageIndex {
    font-family: 'Josefin Sans';
    margin: 20px 8px 0 8px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
 }
 h1.gameTitle {
  margin: 0 0 0 8px;
  flex-wrap: wrap;
  font-family: 'Bebas Neue';
  font-size: 1.6rem;
  align-self: baseline;
  text-shadow: 3px 3px 5px #181717;
  color: rgb(255, 255, 255);
  transform: translateY(-120%);
}
 .titleContainer {
  display: flex;
  height: 0;
  background-color: #ffffff;
}
 .gameTitleContainer {
    margin: 0 0 0 8px;
    height: fit-content;
    width:100%;
    flex-wrap: wrap;
    font-family: 'Bebas Neue';
    font-size: 1.6rem;
    text-shadow: 3px 3px 5px #181717;
    color: rgb(255, 255, 255);
  }
 input.search {
   padding: 0 0 0 5px;
   width: 14rem;
   border-width: 0 0 0 0;
   border-radius: 7px;
   background-color: rgb(72, 73, 73);
   aspect-ratio: 5.5;
   font-family: 'Josefin Sans';
   font-size: 1.1rem;
   color: #ffffff;
 }
 input.search::placeholder{
  color: #eceaea;
}
 .searchBarContainer {
   height: auto;
   margin-right: 6rem;
 }

 .siteNameWhite {
    margin: 0 0 0 0;
    font-family: 'Bebas Neue';
    font-size: 3rem;
    align-self: center;
    color: rgb(255, 255, 255);
    transform: translateX(-0.16rem);
 }
 .siteNameBlue {
    margin: -1rem 0 0 0;
    font-family: 'Bebas Neue';
    font-size: 3rem;
    align-self: center;
    color: rgb(0, 183, 255);
 }
 
 .errorIcon {
   width: 3rem;
   height: 3rem;
 }
 
 .iconContainer {
   display: flex;
   background-color: rgb(163, 16, 16);
   justify-content: center;
 }
 
 /* Card */
 .gameCard {
   width: 30%;
   margin: 2rem 1% 0 1%;
   flex-direction: column;
   border-radius: 3%;
 
   transition: transform 0.2s ease-out;
 }
 
 .gameCard:hover {
   transform: scale(1.2, 1.2);
 }
 .gameLine {
  overflow: visible;
   display: flex;
   padding-left: 2%;
   width: 85%;
   height: auto;
   flex-direction: row;
}

 .gameInfo {
    display: flex;
    padding: 0 0 5px 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: 0.2rem 0 0 0;
    height: fit-content;
    min-height: 5rem;
    max-height: 5rem;
    max-width: 100%;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(15, 15, 15);
    transform: translateY(-0.6rem);
    
    transition: all 0.2s ease-in-out;
 }

 .gameInfo:hover {
    position: absolute;
    height: fit-content;
    max-height: 7rem;
  }

 .gameBackground {
    display: flex;
    width: 100%;
    border-radius: 4%;
    align-self: center;
 }

 .loading {
   display: flex;
   height: 100%;
   width: 100%;
   flex-direction: column;
   aspect-ratio: 5;
   position: absolute;
   align-items: center;
   justify-content: center;
   top: 50%;
   left: 50%;
   background-color: rgb(29, 28, 28);
   transform: translate(-50%, -50%);
 }
 
 .error {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
   aspect-ratio: 5;
   position: absolute;
   align-items: center;
   justify-content: center;
   background-color: rgb(29, 28, 28);
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .gameList {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    flex-direction: column;
  }

 .header {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    background-color: rgb(17, 16, 16);
    justify-content: center;
    align-items: center;
 }
 .headerDiv {
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: flex-end;
 }

 .gameDescriptionContainer {
  width: 95%;
  flex-wrap: wrap;
  max-height: 100%;
}
 
 .loaderContainer {
   height: fit-content;
   width: fit-content;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   
 }

 .pageSelectorContainer {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: center;
 }
 .pageSelector {
    display: flex;
    flex-direction: row;
 }

 .dropdownContainer {
    margin: 0 0 0 0;
    border-width: 0 0 0 0;
    display: flex;
    height : 0;
    width: 100%;
    background-color: rgb(29, 28, 28);
    padding: 1.5rem 6rem 1rem 0;
    justify-content: flex-end;
 }
 
 @keyframes rotate{
   100% {
     transform: rotate(360deg);
   }
 }
 
 .loader {
   width: 80px;
   height: 80px;
   border-radius: 50%;
   border: 6px solid #ffffff;
   border-color: #ffffff transparent #ffffff transparent;
   animation: rotate 1.5s linear infinite;
 }

 @media screen and (max-width: 850px) {
  p.gameDescription {
    font-family: 'Josefin Sans';
    font-size: 0.7rem;
    overflow: hidden;
    max-height: 90%;
    color: rgb(255, 255, 255);
  }
  h1.gameTitle {
    margin: 0 0 0 8px;
    width:12rem;
    position: absolute;
    flex-wrap: wrap;
    font-family: 'Bebas Neue';
    font-size: 1.1rem;
    align-self: baseline;
    text-shadow: 3px 3px 5px #181717;
    color: rgb(255, 255, 255);
    transform: translateY(-115%);
  }
  .searchBarContainer {
    height: auto;
    margin-right: 2rem;
  }
  .gameCard {
    width: 30%;
    margin: 2rem 1% 0 1%;
    flex-direction: column;
    border-radius: 3%;
  
    transition: none;
  }
}
 @media screen and (max-width: 600px) {
    p.errorMsg {
      font-family: 'Josefin Sans';
      font-size: 0.8rem;
      color: rgb(255, 255, 255);
    }
    p.pageIndex {
      font-family: 'Josefin Sans';
      margin: 40px 4px 0 4px;
      font-size: 1rem;
      color: rgb(255, 255, 255);
   }
    .gameCard {
      margin: 3rem 0 0 0;
      width: 85%;
      align-items: center;
      justify-content: center;
      border-radius: 3%;
    }
    .gameCard:hover {
        transform: scale(1, 1);
    }
    .gameBackground {
        width: 100%;
        height: auto;
        border-radius: 4%;
        align-self: center;
        align-items: flex-end;
     }
    
    .gameLine {
      display: flex;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .gameInfo {
        display: flex;
        max-width: 100%;
        overflow: hidden;
        height: fit-content;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        background-color: rgb(20, 20, 20);
        transform: translateY(-0.6rem);

        transition: none;
     }
     .gameInfo:hover {
        position: relative;
        height: fit-content;
    }
     .header {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      background-color: rgb(15, 15, 15);
      justify-content: center;
      align-items: center;
   }
     .headerDiv {
      display: flex;
      margin: 0.5rem 0 0 0;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .searchBarContainer {
      display: flex;
      margin-right: 0;
      margin-bottom: 1rem;
      align-items: center;
      justify-content: center;
    }
    .error, .loading {
      display: flex;
      flex-direction: column;
      width: 100%;
      aspect-ratio: 5;
      position: absolute;
      align-items: center;
      justify-content: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .dropdownContainer {
      display: flex;
      height : 0;
      width: 100%;
      background-color: rgb(29, 28, 28);
      padding: 1.5rem 1rem 0 0;
      justify-content: flex-end;
   }
   h1.gameTitle {
    transform: translateY(-150%);
  }
 }

/*  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 80%; */